.lightMode{

    $backgroundColor: #fff;
    $backgroundColor2:#EEEFEF;
    $borderColor:#dddddd;
    $borderColor2:#dddddd;
    $textColor: #5B6A71;
    $gapStd:15px;
    $delay:0.2s;
    text-align: center;
    $color1: #4B0C95;
    $color2: #66148C;

    $color2: #310565;
    $color1: #310565;


    $delay:0.2s;
    $paddingLarge:20px;
    $green:#0FA551;
    $red:#B83C3C;



    $enable:$green;
    $disable:$red;
    .bg1{background: $green;color:#eee}
    .bg2{background: $disable;color:#eee}
    .txt1{color:$green}
    .txt0{color:$disable}
    // Sidenav
    .greyout{background: darken($backgroundColor,13);color:lighten($textColor,15)}
    .backgroundShaded1{background: darken($backgroundColor,0);color:$textColor}
    .backgroundShaded10{background: darken($backgroundColor,10);color:$textColor}
    .backgroundShaded15{background: darken($backgroundColor,15);color:$textColor}
    .backgroundShaded20{background: darken($backgroundColor,20);color:$textColor}
    .backgroundShaded25{background: darken($backgroundColor,25);color:$textColor}
    .backgroundShaded5{background: darken($backgroundColor,5);color:$textColor}
    .sidenavBodyMin{background: linear-gradient(0deg, $color1,$color2); color:$backgroundColor;}
    .sidenavBodyMax{background: linear-gradient(0deg, $color1, $color2);}

    .stdPadding {padding:10px 20px;}

    /*
    * ----- Buttons Management -----
    * Generic GREEN Button
    */
        .stdButton {display:flex;margin-left: 0px;font-size: 16px;text-decoration: none;border:0px;
            padding:8px 25px;background:$green;color:white;cursor:pointer;transition: $delay;
            text-align:'center';justify-content: 'center';border-radius: 5px;
        }
        .stdButton:active {border:0px}
        .stdButton:hover {border:0px;background: lighten($green, 5);transition: $delay;}
    // Generic RED Button
        .stdButton0 {display:flex;margin-left: 0px;font-size: 16px;text-decoration: none;border:0px;
            padding:8px 25px;background:$red;color:white;cursor:pointer;transition: $delay;
            text-align:'center';justify-content: 'center';border-radius: 5px;
        }
        .stdButton0:active {border:0px}
        .stdButton0:hover {border:0px;background: lighten($red, 5);transition: $delay;}
    // Title Buttons
        .titleButtonFirst {text-align:'center';background: darken($backgroundColor, 10);font-size: 16px;text-decoration: none;border:0px;
            padding:4px 8px;color:$textColor;cursor:pointer;transition: $delay; border-left:darken($backgroundColor, 20) solid 1px;
            border-top:darken($backgroundColor, 20) solid 1px;border-bottom:darken($backgroundColor, 20) solid 1px;border-top-left-radius: 7px;border-bottom-left-radius: 7px;
        }
        .titleButtonFirst:hover {background: lighten($backgroundColor, 10);}
        .titleButton {text-align:'center';background: darken($backgroundColor, 10);font-size: 16px;text-decoration: none;border:0px;
            padding:4px 8px;color:$textColor;cursor:pointer;transition: $delay; border-left:darken($backgroundColor, 20) solid 1px;
            border-right:darken($backgroundColor, 20) solid 1px;border-top:darken($backgroundColor, 20) solid 1px;border-bottom:darken($backgroundColor, 20) solid 1px;
        }
        .titleButton:hover {background: lighten($backgroundColor, 10);}
        .titleButtonLast {text-align:'center';background: darken($backgroundColor, 10);font-size: 16px;text-decoration: none;border:0px;
            padding:4px 8px;color:$textColor;cursor:pointer;transition: $delay; border-right:darken($backgroundColor, 20) solid 1px;
            border-top:darken($backgroundColor, 20) solid 1px;border-bottom:darken($backgroundColor, 20) solid 1px;border-top-right-radius: 7px;border-bottom-right-radius: 7px;
        }
        .titleButtonLast:hover {background: lighten($backgroundColor, 10);}

    .stdButtonRed {display:flex;margin-left: 0px;font-size: 16px;text-decoration: none;border:0px;
        padding:7px 20px;background:$red;color:white;cursor:pointer;transition: $delay;
        text-align:'center';justify-content: 'center';border-radius: 5px;
    }
    .stdButtonRed:active {border:0px}
    .stdButtonRed:hover {border:0px;background: lighten($red, 10);transition: $delay;}



    .stdButton2 {display:flex;margin-left: 0px;font-size: 16px;text-decoration: none;border:0px;
        padding:7px 7px;background:#eee;color:$color1;cursor:pointer;transition: $delay;
        text-align:'center';justify-content: 'center';
    }
    .stdButton2:active {border:0px}
    .stdButton2:hover {border:0px;background: lighten(#eee, 10);transition: $delay;}


    .std_box {
        background: linear-gradient(195deg, #fff, #fff);
        box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(64, 64, 64, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
        padding:10px 20px 10px;border-radius: 10px;color:#fff;
        color:$textColor;
    }
    .std_box_2 {
        background: linear-gradient(195deg, #fff, #fff);
        padding:10px 20px 10px;border-radius: 10px;color:#fff;
        color:$textColor;
    }

    .animationRightBar{
        position:absolute;
        right:-300px;
        animation: moveAnimationRightBar 0.25s ease-in-out forwards;
    }
    @keyframes moveAnimationRightBar {
        0%      { right:-300; }
        100%    { right: 0px; }
    }
    .animateTrial{border: 1px dashed RED;width:100px;position:absolute;left:0;height:100px;animation: moveToRight 0.2s linear forwards;}

    @keyframes moveToRight {
        0%      { left:0; }
        100%    { left: 200px; }
    }



      

}